venv/
__pycache__/
downloads/
old versions/
links.txt
youtube_no_api.csv
*.pyc
*.bat
.env
cookies.txt
daily_state.json
downloaded.txt
errors.log
run_log.txt



# Added by Antigravity CLI
.env.*
.env.local
.venv/
downloader.db
emails.db
env/
